<%= render 'shared/errors', obj: @category %>
<%= render 'shared/content_title', title: 'Create a new category' %>

<div class='well'>
  <%= form_for @category do |f| %>
  <div class='control-group' >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
   <div class='control-group' >
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Create category', class: 'btn btn-primary' %>
  <% end %>
</div>